<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            color: blanchedalmond;
            background-color: steelblue;
            text-align: center;
            background-image: url(https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80);
          }
          ul {
              list-style: none;
          }
          a  {
            display: center;
            width: 100%;
            border: none;
            border-radius: 20px;
            padding: 14px 28px;
            font-size: 36px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: whitesmoke;
            text-shadow: 5px 5px 5px black ;
          }
          img {
              border-radius: 50px;
              box-shadow: 5px 5px 5px rgba(224, 221, 215, 0.685);
          }
          </style>
</head>
<body>
    <div>
        <p href="/drinks/:id<%=drink%>"><h1><%=drink.name.toUpperCase()%></h1></p>
        <p href="/drinks/:id<%=drink%>"><h2>Price: $<%=drink.price%></h2></p>
        <img src='<%=`${drink.image.slice(0,-3)}png`%>'>
        <a href="/drinks/"><h2>Return</h2></a>
    </div>
</body>
</html>